* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #444;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #111;
}

@import 'variables/mixins';
/* modules import */
@import 'modules/header.scss';
@import 'modules/button';
@import 'modules/twentytwenty';


/* pages import */
@import 'pages/index/index-hero';
@import 'pages/index/index-catalog';
@import 'pages/index/index-work';
@import 'pages/index/index-example';
@import 'modules/slider';