.button {
    background-color: #68b738;
    color: #fff;
    max-width: 12.5em;
    font-size: 20px;
    padding: .85em 1.4em;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    }